@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');'
{ 
margin:0;
padding: 0; 
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
text-decoration:none;
list-style:none;
}
body{
min-height:100vh;
align-items:center;
justify-content: center;
background: #121212;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-repeat:no repeat;
background-position: center;
}
.intro{
position:relative;
width:346px;
height:150px;
top:50px;
background:linear-gradient(315deg,#9800ff,#00ff53);
overflow:hidden;
}
.border:nth-child(1){
}
.border span{
position: absolute;
display: block;
}
.border span:nth-child(1) {
top:0px;
Left: 0;
width: 100%;
height: 4px;
background: linear-gradient(90deg, transparent,#00ccff,#d400d4);
animation: one 1s linear infinite;
}
.border span:nth-child(2) {
top: 100%;
right: 0px;
width: 4px;
height: 100%;
background: linear-gradient(180deg, transparent,#00ccff,#d400d4);
animation: two 1s linear infinite;
animation-delay:.25s;
}
.border span:nth-child(3) {
bottom: 0px;
right: 0;
width: 100%;
height: 4px;
background: linear-gradient(270deg,transparent,#00ccff,#d400d4);
animation: three 1s linear infinite;
animation-delay: .50s;
}
.border span:nth-child(4) {
bottom: -100%;
Left: 0px;
width: 4px;
height: 100%;
background: linear-gradient(360deg, transparent,#00ccff,#d400d4);
animation: four 1s linear infinite;
animation-delay: .75s;
} 
@keyframes one {
      0% {
         Left: -100%;
    }
    50%,
    100% {
         Left: 100%;
    }
}
@keyframes two {
     0% {
         top: -100%;
     }
   
     50%,
     100%{
          top: 100%;
     }
}
@keyframes three {
     0% {
         right: -100%;
     }
   
     50%,
     100%{
          right: 100%;
     }
}
@keyframes four {
     0% {
         bottom: -100%;
     }
   
     50%,
     100%{
          bottom: 100%;
     }
}
.logo{
position:relative;
width:130px;
height:130px;
border-radius:50%;
overflow: hidden;
top:12px;
right:100px;
}
.logo::before{
content:'';
position:absolute;
inset:-20px 40px;
background:linear-gradient(315deg,#00ccff,#d400d4);
transition:1s;
animation: animate 3s linear infinite;
}
.logo:hover::before{
inset: -20px 0px;
}
@keyframes animate
{
  0%
     {
        transform:rotate(0deg);
     }
  100%
     {
        transform:rotate(360deg);
     }   
}
.logo::after{
content:'';
position:absolute;
inset:5px;
background:#121212;
border-radius:50%;
z-index:2;
}
.content{
position: absolute;
inset: 5px;
border: 5px solid #121212;
z-index: 3;
border-radius: 50%;
overflow: hidden;
}
.content img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
transition:0.5s;
pointer-events:none;
}
.logo:hover .content img{
}
.center{
display:flex;
align-items: center;
justify-content:center;
gap: 30px;
}
.name {
position:relative;
top:60px;
padding:5px 5px;
width:170px;
background:linear-gradient(to right,#00ccff,#d400d4,#487bff,#00ccff,#d400d4,#00ccff);
text-decoration:none;
text-transform:uppercase;
font-size:25px;
font-weight: 8000;
Letter-spacing:1px;
inset:-70px 70px;
background-size:200%;
background-clip:text;
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
animation: animate-gradient 3.5s linear infinite;
}
@keyframes animate-gradient {
to {
    background-position: 300%;
   }
}
.slide{
height:110%;
width: 160px;
position: fixed;
background-color:#0C090A;
transition:0.5s ease;
transform:translatex(-170px);
top:-15px;
}
.slide h1 {
color: #;
font-weight: 2000;
font-size:22px;
text-align: center;
padding-top:8px;
padding-left: 35px;
pointer-events: none;
background:#822EFF;
}
ul li{
List-style: none;
}
ul li a{
color: #DC143C;
font-weight: 2000;
font-size:21px;
padding: 15px 0;
display: block;
text-transform: capitalize;
text-decoration: none;
transition:0.2s ease-out;
padding-right:1px;
}
ul li:hover a{
color:#0AFFFF;
background-color:#822EFF;
}
ul li a 1{
width: 40px;
text-align: center;
}
input{
display: none;
visibility: hidden;
webkit-appearance: none;
}
.toggle{
position: fixed;
height: 30px;
width:30px;
top: 2px;
Left: 16px;
z-index: 1;
cursor: pointer;
border-radius: 8px;
background-color:#DC143C;
box-shadow: 0 0 10px ☐ rgba(0,0,0,0.3);
}
.toggle .common{
position: absolute;
height: 2px;
width: 20px;
background-color: #FFFFFF;
border-radius: 50px;
transition:0.3s ease;
}
.toggle .top_line{
top: 30%;
Left: 50%;
transform: translate(-50%,-50%);
}
.toggle .middle_line{
top: 50%;
Left: 50%;
transform: translate(-50%,-50%);
}
.toggle .bottom_line{
top: 70%;
Left: 50%;
transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line{
Left: 2px;
top: 14px;
width: 25px;
transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
Left: 2px;
top: 14px;
width: 25px;
transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line{
opacity: 0;
transform: translateX(20px);
}
input:checked ~ .slide{
transform: translatex(0);
box-shadow:0 0 15px rgba(0,0,0,0.5);
}

